:root {
    --text: #f1f3f4;
    --background: #101214;
    --primary: #8f9ca3;
    --secondary: #1c2022;
    --accent: #788891;
}

@font-face {
    font-family: myFirstFont;
    src: url(Raleway-VariableFont_wght.ttf);
}

* {
    font-family: myFirstFont, "Fira Sans Light", sans-serif;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    color: var(--text);
    list-style-type: none;

}

body {
    background-color: var(--background);
    margin: 0 auto;
}