<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$title$</title>
    <link rel="icon" type="image/svg+xml" href="/static/logo.svg">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/note.css">
</head>
<body>
    <nav class="nav">
        <a href="/" class="nav__logo"><img src="/static/logo.svg" alt="" class="nav__icon">ouolim</a>
        <div class="nav__links">
            <a href="/pages/contacts.html">kontakt</a>
            <a href="/static/cv.pdf" class="nav__btn">CV</a>
        </div>
    </nav>

    <main>
        <article class="page">
            $body$
        </article>
    </main>
</body>
</html>
