header{
    background-color: #000000 ;
}
.header__container {
    height: inherit;
    width: 80%;

    padding: 0.5em 0.5em;
    margin: 0 auto;
    display:flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    border: 0;
}

@media all and (max-width: 950px) {
    .header__container{
        flex-direction: column;
        align-content: center;
    }
    .header__image{
        margin: 1em auto;
    }
    .header__about{
        margin: 0 auto
    }
}

.header__about{
    width: 33%;
    background-color: #222222;
    padding: 1em;
    text-align: center;
}

.header__image{
    height: 15em;
    width: 15em;
}



