header{
    background-color: var(--background) ;
}
.header__container {
    height: inherit;
    width: 80%;

    padding: 0.5em 0.5em;
    margin: 0 auto;
    display:flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    border: 0;
}
.header__about{
    box-sizing: border-box;
    background-color: var(--secondary);
    padding: 1em;
    margin: 0 1em;
    text-align: center;
    border: 2px solid var(--accent);
}

.header__image{
    height: 10em;
    width: 10em;
    margin: auto 0;
}

@media all and (max-width: 950px) {
    .header__container{
        width: 100%;
        flex-direction: column;
        align-content: center;
    }
    .header__image{
        margin: 1em auto;
    }

    .header__about{
        width: 100%;
        margin:0;
    }
}





