nav{
    height: inherit;
    width: 100%;
}

.nav__container{
    display:flex;
    height: inherit;
    background-color: var(--secondary);
    justify-content: space-evenly;
    list-style-type: none;
    box-sizing: border-box;
}

.nav_item{
    justify-content: space-evenly;
    margin: 0.5em;
    height: 1.5em;
    padding: 0.5em;
    text-align: center;
    vertical-align: middle;
    background: var(--primary);
}
.nav_item, a{
    text-decoration: none;
}

.nav_item:hover{
    background-color: var(--accent);
}